<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <!--Регистрация класса MyFirstHandler как обработчика, который доступен по адресу MyHndler.aspx-->
  <system.webServer>
    <handlers>
      <add name="MyFirstHandler" verb="GET" path="MyHandler.aspx" type="HttpHandlers.MyFirstHandler"/>
    </handlers>
  </system.webServer>

</configuration>
