<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="Connection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <caching>
      <sqlCacheDependency>
        <databases>
          <!-- pollTime - интервал, с котором будет происходить проверка изменений в базе -->
          <add name="Database" pollTime="1000" connectionStringName="Connection"/>
        </databases>
      </sqlCacheDependency>
    </caching>

  </system.web>
</configuration>

