<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <connectionStrings>
    <add name="LocalDatabase" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|ASPNETDB.MDF;Integrated Security=True" />  
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <authentication mode="Forms"></authentication>

    <membership>
      <providers>
        <!--Удаление настроек по умолчанию-->
        <remove name="AspNetSqlMembershipProvider"/>
        <!--Добавление настроек для MembershipProvider для текущего приложения-->
        <add name="AspNetSqlMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             connectionStringName="LocalDatabase"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             applicationName="/"
             requiresUniqueEmail="false"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="6"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             passwordStrengthRegularExpression="" />
        <!--
        connectionStringName="LocalSqlServer" - имя строки подключения для соединения с источником данных
        enablePasswordRetrieval="false" - возможность восстановить пароль
        enablePasswordReset="true" - возможность сбросить пароль
        requiresQuestionAndAnswer="false" - требуется ли ответ на вопрос для восстановления или сброса пароля
        applicationName="/" - имя приложения
        requiresUniqueEmail="false" - уникальность email адреса
        passwordFormat="Hashed" - формат хранения пароля в базе
        maxInvalidPasswordAttempts="5" - количество попыток ввести пароль, после которого пользователь будет заблокирован
        minRequiredPasswordLength="6" - минимальная длина пароля
        minRequiredNonalphanumericCharacters="0" - минимальное количество символов не цифр и не букв, которые должын пристутсвовать в пароле
        passwordAttemptWindow="10" - временное окно в течении которого будет отслеживаться количество не правильных попыток ввести пароль. Работает вместе с свойством maxInvalidPasswordAttempts
        passwordStrengthRegularExpression="" - регулярное выражение для проверки сложности пароля
        -->


      </providers>
    </membership>

  </system.web>
</configuration>
