<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <connectionStrings>
    <add name="NorthwindConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Northwind.mdf;Integrated Security=True" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <caching>

      <outputCacheSettings>
        <!-- Профиль для кэширования -->
        <outputCacheProfiles>
          <!--Страница должна храниться на стороне клиента в течении 5 секунд-->
          <add name="TestProfile" duration="5" varyByParam="None" location="Client" />
        </outputCacheProfiles>
      </outputCacheSettings>

    </caching>
  </system.web>

</configuration>
